In [1]:
import codecs

with codecs.open('une_rt_m.tsv', 'r', 'utf-8') as handle:
    for line in handle:
        chunks = line.strip().split('\t')

        username = chunks[0]
        languages = [c.split(',') for c in chunks[1:]]

In [3]:
import pandas as pd

tsv_file = open("une_rt_m.tsv")

read_tsv = pd.read_csv(tsv_file, delimiter="\t")


for row in read_tsv:
    print(row)

s_adj,age,unit,sex,geo\time
2020M06
2020M05
2020M04
2020M03
2020M02
2020M01
2019M12
2019M11
2019M10
2019M09
2019M08
2019M07
2019M06
2019M05
2019M04
2019M03
2019M02
2019M01
2018M12
2018M11
2018M10
2018M09
2018M08
2018M07
2018M06
2018M05
2018M04
2018M03
2018M02
2018M01
2017M12
2017M11
2017M10
2017M09
2017M08
2017M07
2017M06
2017M05
2017M04
2017M03
2017M02
2017M01
2016M12
2016M11
2016M10
2016M09
2016M08
2016M07
2016M06
2016M05
2016M04
2016M03
2016M02
2016M01
2015M12
2015M11
2015M10
2015M09
2015M08
2015M07
2015M06
2015M05
2015M04
2015M03
2015M02
2015M01
2014M12
2014M11
2014M10
2014M09
2014M08
2014M07
2014M06
2014M05
2014M04
2014M03
2014M02
2014M01
2013M12
2013M11
2013M10
2013M09
2013M08
2013M07
2013M06
2013M05
2013M04
2013M03
2013M02
2013M01
2012M12
2012M11
2012M10
2012M09
2012M08
2012M07
2012M06
2012M05
2012M04
2012M03
2012M02
2012M01
2011M12
2011M11
2011M10
2011M09
2011M08
2011M07
2011M06
2011M05
2011M04
2011M03
2011M02
2011M01
2010M12
2010M11
2010M10
2010M09
2010M08
2010M07
2010M06
2010M05
2010M04
2010M03
2010M02
2010M01
2009M12
2009M11
2009M10
2009M09
2009M08
2009M07
2009M06
2009M05
2009M04
2009M03
2009M02
2009M01
2008M12
2008M11
2008M10
2008M09
2008M08
2008M07
2008M06
2008M05
2008M04
2008M03
2008M02
2008M01
2007M12
2007M11
2007M10
2007M09
2007M08
2007M07
2007M06
2007M05
2007M04
2007M03
2007M02
2007M01
2006M12
2006M11
2006M10
2006M09
2006M08
2006M07
2006M06
2006M05
2006M04
2006M03
2006M02
2006M01
2005M12
2005M11
2005M10
2005M09
2005M08
2005M07
2005M06
2005M05
2005M04
2005M03
2005M02
2005M01
2004M12
2004M11
2004M10
2004M09
2004M08
2004M07
2004M06
2004M05
2004M04
2004M03
2004M02
2004M01
2003M12
2003M11
2003M10
2003M09
2003M08
2003M07
2003M06
2003M05
2003M04
2003M03
2003M02
2003M01
2002M12
2002M11
2002M10
2002M09
2002M08
2002M07
2002M06
2002M05
2002M04
2002M03
2002M02
2002M01
2001M12
2001M11
2001M10
2001M09
2001M08
2001M07
2001M06
2001M05
2001M04
2001M03
2001M02
2001M01
2000M12
2000M11
2000M10
2000M09
2000M08
2000M07
2000M06
2000M05
2000M04
2000M03
2000M02
2000M01
1999M12
1999M11
1999M10
1999M09
1999M08
1999M07
1999M06
1999M05
1999M04
1999M03
1999M02
1999M01
1998M12
1998M11
1998M10
1998M09
1998M08
1998M07
1998M06
1998M05
1998M04
1998M03
1998M02
1998M01
1997M12
1997M11
1997M10
1997M09
1997M08
1997M07
1997M06
1997M05
1997M04
1997M03
1997M02
1997M01
1996M12
1996M11
1996M10
1996M09
1996M08
1996M07
1996M06
1996M05
1996M04
1996M03
1996M02
1996M01
1995M12
1995M11
1995M10
1995M09
1995M08
1995M07
1995M06
1995M05
1995M04
1995M03
1995M02
1995M01
1994M12
1994M11
1994M10
1994M09
1994M08
1994M07
1994M06
1994M05
1994M04
1994M03
1994M02
1994M01
1993M12
1993M11
1993M10
1993M09
1993M08
1993M07
1993M06
1993M05
1993M04
1993M03
1993M02
1993M01
1992M12
1992M11
1992M10
1992M09
1992M08
1992M07
1992M06
1992M05
1992M04
1992M03
1992M02
1992M01
1991M12
1991M11
1991M10
1991M09
1991M08
1991M07
1991M06
1991M05
1991M04
1991M03
1991M02
1991M01
1990M12
1990M11
1990M10
1990M09
1990M08
1990M07
1990M06
1990M05
1990M04
1990M03
1990M02
1990M01
1989M12
1989M11
1989M10
1989M09
1989M08
1989M07
1989M06
1989M05
1989M04
1989M03
1989M02
1989M01
1988M12
1988M11
1988M10
1988M09
1988M08
1988M07
1988M06
1988M05
1988M04
1988M03
1988M02
1988M01
1987M12
1987M11
1987M10
1987M09
1987M08
1987M07
1987M06
1987M05
1987M04
1987M03
1987M02
1987M01
1986M12
1986M11
1986M10
1986M09
1986M08
1986M07
1986M06
1986M05
1986M04
1986M03
1986M02
1986M01
1985M12
1985M11
1985M10
1985M09
1985M08
1985M07
1985M06
1985M05
1985M04
1985M03
1985M02
1985M01
1984M12
1984M11
1984M10
1984M09
1984M08
1984M07
1984M06
1984M05
1984M04
1984M03
1984M02
1984M01
1983M12
1983M11
1983M10
1983M09
1983M08
1983M07
1983M06
1983M05
1983M04
1983M03
1983M02
1983M01

In [4]:
import pandas as pd

df = pd.read_excel (r'COVID-19-geographic-disbtribution-worldwide-2020-08-25.xlsx')
print (df)

         dateRep  day  month  year  cases  deaths countriesAndTerritories  \
0     2020-08-25   25      8  2020     71      10             Afghanistan
1     2020-08-24   24      8  2020      0       0             Afghanistan
2     2020-08-23   23      8  2020    105       2             Afghanistan
3     2020-08-22   22      8  2020     38       0             Afghanistan
4     2020-08-21   21      8  2020     97       2             Afghanistan
...          ...  ...    ...   ...    ...     ...                     ...
38487 2020-03-25   25      3  2020      0       0                Zimbabwe
38488 2020-03-24   24      3  2020      0       1                Zimbabwe
38489 2020-03-23   23      3  2020      0       0                Zimbabwe
38490 2020-03-22   22      3  2020      1       0                Zimbabwe
38491 2020-03-21   21      3  2020      1       0                Zimbabwe

      geoId countryterritoryCode  popData2019 continentExp  \
0        AF                  AFG   38041757.0         Asia
1        AF                  AFG   38041757.0         Asia
2        AF                  AFG   38041757.0         Asia
3        AF                  AFG   38041757.0         Asia
4        AF                  AFG   38041757.0         Asia
...     ...                  ...          ...          ...
38487    ZW                  ZWE   14645473.0       Africa
38488    ZW                  ZWE   14645473.0       Africa
38489    ZW                  ZWE   14645473.0       Africa
38490    ZW                  ZWE   14645473.0       Africa
38491    ZW                  ZWE   14645473.0       Africa

       Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0                                               2.670749
1                                               2.484112
2                                               2.484112
3                                               2.310619
4                                               2.415766
...                                                  ...
38487                                                NaN
38488                                                NaN
38489                                                NaN
38490                                                NaN
38491                                                NaN

[38492 rows x 12 columns]

In [9]:
import pandas as pd 
tsv_file='une_rt_m.tsv'
csv_table=pd.read_table(tsv_file,sep='\t')
csv_table

,"s_adj,age,unit,sex,geo\time",2020M06,2020M05,2020M04,2020M03,2020M02,2020M01,2019M12,2019M11,2019M10,...,1983M10,1983M09,1983M08,1983M07,1983M06,1983M05,1983M04,1983M03,1983M02,1983M01
0,"NSA,TOTAL,PC_ACT,F,AT",6.3,5.6,5.2,4.7,4.1,4.4,4.0,3.9,4.2,...,:,:,:,:,:,:,:,:,:,:
1,"NSA,TOTAL,PC_ACT,F,BE",5.0,5.0,5.2,5.0,4.9,4.8,4.6,4.5,4.7,...,:,:,:,:,:,:,:,:,:,:
2,"NSA,TOTAL,PC_ACT,F,BG",3.9,4.2,4.7,4.1,4.2,4.3,3.9,3.8,3.6,...,:,:,:,:,:,:,:,:,:,:
3,"NSA,TOTAL,PC_ACT,F,CH",:,:,:,4.8,4.5,4.4,4.1,4.0,4.2,...,:,:,:,:,:,:,:,:,:,:
4,"NSA,TOTAL,PC_ACT,F,CY",9.2,8.3,7.9,7.5,7.4,7.6,7.4,7.7,5.8,...,:,:,:,:,:,:,:,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2126,"TC,Y_LT25,THS_PER,T,SE",173,150,150,125,125,125,125,125,125,...,70,71,70,69,68,67,66,66,65,63
2127,"TC,Y_LT25,THS_PER,T,SI",9,9,9,7,7,7,6,6,6,...,:,:,:,:,:,:,:,:,:,:
2128,"TC,Y_LT25,THS_PER,T,SK",30,29,30,25,27,28,26,27,28,...,:,:,:,:,:,:,:,:,:,:
2129,"TC,Y_LT25,THS_PER,T,TR",:,:,1122,1099,1123,1133,1230,1237,1273,...,:,:,:,:,:,:,:,:,:,:
2130,"TC,Y_LT25,THS_PER,T,UK",:,:,524,496,489,480,467,455,456,...,1148,1148,1143,1147,1157,1169,1179,1176,1169,1168

In [10]:
csv_table['Country'] = csv_table['s_adj,age,unit,sex,geo\\time'].apply(lambda x: x.split(",")[-1])
csv_table['AgeGroup'] = csv_table['s_adj,age,unit,sex,geo\\time'].apply(lambda x: x.split(",")[1])
csv_table['Unit'] = csv_table['s_adj,age,unit,sex,geo\\time'].apply(lambda x: x.split(",")[2])
csv_table['Gender'] = csv_table['s_adj,age,unit,sex,geo\\time'].apply(lambda x: x.split(",")[3])
csv_table['Seasonal_Adjustment'] = csv_table['s_adj,age,unit,sex,geo\\time'].apply(lambda x: x.split(",")[0])

In [11]:
csv_table

,"s_adj,age,unit,sex,geo\time",2020M06,2020M05,2020M04,2020M03,2020M02,2020M01,2019M12,2019M11,2019M10,...,1983M05,1983M04,1983M03,1983M02,1983M01,Country,AgeGroup,Unit,Gender,Seasonal_Adjustment
0,"NSA,TOTAL,PC_ACT,F,AT",6.3,5.6,5.2,4.7,4.1,4.4,4.0,3.9,4.2,...,:,:,:,:,:,AT,TOTAL,PC_ACT,F,NSA
1,"NSA,TOTAL,PC_ACT,F,BE",5.0,5.0,5.2,5.0,4.9,4.8,4.6,4.5,4.7,...,:,:,:,:,:,BE,TOTAL,PC_ACT,F,NSA
2,"NSA,TOTAL,PC_ACT,F,BG",3.9,4.2,4.7,4.1,4.2,4.3,3.9,3.8,3.6,...,:,:,:,:,:,BG,TOTAL,PC_ACT,F,NSA
3,"NSA,TOTAL,PC_ACT,F,CH",:,:,:,4.8,4.5,4.4,4.1,4.0,4.2,...,:,:,:,:,:,CH,TOTAL,PC_ACT,F,NSA
4,"NSA,TOTAL,PC_ACT,F,CY",9.2,8.3,7.9,7.5,7.4,7.6,7.4,7.7,5.8,...,:,:,:,:,:,CY,TOTAL,PC_ACT,F,NSA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2126,"TC,Y_LT25,THS_PER,T,SE",173,150,150,125,125,125,125,125,125,...,67,66,66,65,63,SE,Y_LT25,THS_PER,T,TC
2127,"TC,Y_LT25,THS_PER,T,SI",9,9,9,7,7,7,6,6,6,...,:,:,:,:,:,SI,Y_LT25,THS_PER,T,TC
2128,"TC,Y_LT25,THS_PER,T,SK",30,29,30,25,27,28,26,27,28,...,:,:,:,:,:,SK,Y_LT25,THS_PER,T,TC
2129,"TC,Y_LT25,THS_PER,T,TR",:,:,1122,1099,1123,1133,1230,1237,1273,...,:,:,:,:,:,TR,Y_LT25,THS_PER,T,TC
2130,"TC,Y_LT25,THS_PER,T,UK",:,:,524,496,489,480,467,455,456,...,1169,1179,1176,1169,1168,UK,Y_LT25,THS_PER,T,TC

In [12]:
csv_table.columns

Index(['s_adj,age,unit,sex,geo\time', '2020M06 ', '2020M05 ', '2020M04 ',
       '2020M03 ', '2020M02 ', '2020M01 ', '2019M12 ', '2019M11 ', '2019M10 ',
       ...
       '1983M05 ', '1983M04 ', '1983M03 ', '1983M02 ', '1983M01 ', 'Country',
       'AgeGroup', 'Unit', 'Gender', 'Seasonal_Adjustment'],
      dtype='object', length=456)

In [13]:
selected_cols = csv_table[['Country','AgeGroup','Unit','Gender', 'Seasonal_Adjustment', 
                 '2020M06 ', '2020M05 ', '2020M04 ','2020M03 ','2020M02 ','2020M01 ']]
selected_cols

,Country,AgeGroup,Unit,Gender,Seasonal_Adjustment,2020M06,2020M05,2020M04,2020M03,2020M02,2020M01
0,AT,TOTAL,PC_ACT,F,NSA,6.3,5.6,5.2,4.7,4.1,4.4
1,BE,TOTAL,PC_ACT,F,NSA,5.0,5.0,5.2,5.0,4.9,4.8
2,BG,TOTAL,PC_ACT,F,NSA,3.9,4.2,4.7,4.1,4.2,4.3
3,CH,TOTAL,PC_ACT,F,NSA,:,:,:,4.8,4.5,4.4
4,CY,TOTAL,PC_ACT,F,NSA,9.2,8.3,7.9,7.5,7.4,7.6
...,...,...,...,...,...,...,...,...,...,...,...
2126,SE,Y_LT25,THS_PER,T,TC,173,150,150,125,125,125
2127,SI,Y_LT25,THS_PER,T,TC,9,9,9,7,7,7
2128,SK,Y_LT25,THS_PER,T,TC,30,29,30,25,27,28
2129,TR,Y_LT25,THS_PER,T,TC,:,:,1122,1099,1123,1133
2130,UK,Y_LT25,THS_PER,T,TC,:,:,524,496,489,480

In [14]:
selected_cols.dropna()

,Country,AgeGroup,Unit,Gender,Seasonal_Adjustment,2020M06,2020M05,2020M04,2020M03,2020M02,2020M01
0,AT,TOTAL,PC_ACT,F,NSA,6.3,5.6,5.2,4.7,4.1,4.4
1,BE,TOTAL,PC_ACT,F,NSA,5.0,5.0,5.2,5.0,4.9,4.8
2,BG,TOTAL,PC_ACT,F,NSA,3.9,4.2,4.7,4.1,4.2,4.3
3,CH,TOTAL,PC_ACT,F,NSA,:,:,:,4.8,4.5,4.4
4,CY,TOTAL,PC_ACT,F,NSA,9.2,8.3,7.9,7.5,7.4,7.6
...,...,...,...,...,...,...,...,...,...,...,...
2126,SE,Y_LT25,THS_PER,T,TC,173,150,150,125,125,125
2127,SI,Y_LT25,THS_PER,T,TC,9,9,9,7,7,7
2128,SK,Y_LT25,THS_PER,T,TC,30,29,30,25,27,28
2129,TR,Y_LT25,THS_PER,T,TC,:,:,1122,1099,1123,1133
2130,UK,Y_LT25,THS_PER,T,TC,:,:,524,496,489,480

In [97]:
new_df = selected_cols.rename(columns = {'2020M06 ':'Jun_20','2020M05 ': 'May_20','2020M04 ':'Apr_20','2020M03 ': 'Mar_20','2020M02 ':'Feb_20', '2020M01 ':'Jan_20' })
new_df.head(20)

,Country,AgeGroup,Unit,Gender,Seasonal_Adjustment,Jun_20,May_20,Apr_20,Mar_20,Feb_20,Jan_20
0,AT,TOTAL,PC_ACT,F,NSA,6.3,5.6,5.2,4.7,4.1,4.4
1,BE,TOTAL,PC_ACT,F,NSA,5.0,5.0,5.2,5.0,4.9,4.8
2,BG,TOTAL,PC_ACT,F,NSA,3.9,4.2,4.7,4.1,4.2,4.3
3,CH,TOTAL,PC_ACT,F,NSA,:,:,:,4.8,4.5,4.4
4,CY,TOTAL,PC_ACT,F,NSA,9.2,8.3,7.9,7.5,7.4,7.6
5,CZ,TOTAL,PC_ACT,F,NSA,2.7,2.8,2.3,2.0,2.1,2.2
6,DE,TOTAL,PC_ACT,F,NSA,4.5 e,4.5 e,4.2 e,3.5 e,2.9 e,2.7 e
7,DK,TOTAL,PC_ACT,F,NSA,6.3,5.7,5.2,4.9,5.4,5.0
8,EA,TOTAL,PC_ACT,F,NSA,8.2,8.1,7.8,7.6,7.9,8.1
9,EA18,TOTAL,PC_ACT,F,NSA,8.2,8.0,7.8,7.6,7.9,8.1
10,EA19,TOTAL,PC_ACT,F,NSA,8.2,8.1,7.8,7.6,7.9,8.1
11,EE,TOTAL,PC_ACT,F,NSA,:,7.4,6.1,4.4,4.2,4.5
12,EL,TOTAL,PC_ACT,F,NSA,:,:,18.8,17.4,20.7,20.0
13,ES,TOTAL,PC_ACT,F,NSA,16.6,16.7,16.9,16.7,16.1,16.0
14,EU25,TOTAL,PC_ACT,F,NSA,:,:,:,:,:,6.8
15,EU27_2007,TOTAL,PC_ACT,F,NSA,:,:,:,:,:,6.7
16,EU27_2020,TOTAL,PC_ACT,F,NSA,7.5,7.2,7.0,6.8,7.0,7.2
17,EU28,TOTAL,PC_ACT,F,NSA,:,:,:,:,:,6.7
18,FI,TOTAL,PC_ACT,F,NSA,8.3,10.3,7.5,6.6,6.2,6.9
19,FR,TOTAL,PC_ACT,F,NSA,7.6,8.0,8.6,7.9,8.2,8.6

In [47]:
selected_cols.columns

Index(['Country', 'AgeGroup', 'Unit', 'Gender', 'Seasonal_Adjustment',
       '2020M06 ', '2020M05 ', '2020M04 ', '2020M03 ', '2020M02 ', '2020M01 '],
      dtype='object')

In [55]:
months = ['Jun_20','May_20', 'Apr_20',	'Mar_20',	'Feb_20',	'Jan_20']

In [98]:
for x in range(5,11):
    new_df.iloc[:,x] = new_df.iloc[:,x].str.replace(":", "")
    new_df.iloc[:,x] = new_df.iloc[:,x].str.replace(" e", "")
    new_df.iloc[:,x] = new_df.iloc[:,x].str.replace(" u", "")
new_df.head(20)

,Country,AgeGroup,Unit,Gender,Seasonal_Adjustment,Jun_20,May_20,Apr_20,Mar_20,Feb_20,Jan_20
0,AT,TOTAL,PC_ACT,F,NSA,6.3,5.6,5.2,4.7,4.1,4.4
1,BE,TOTAL,PC_ACT,F,NSA,5.0,5.0,5.2,5.0,4.9,4.8
2,BG,TOTAL,PC_ACT,F,NSA,3.9,4.2,4.7,4.1,4.2,4.3
3,CH,TOTAL,PC_ACT,F,NSA,,,,4.8,4.5,4.4
4,CY,TOTAL,PC_ACT,F,NSA,9.2,8.3,7.9,7.5,7.4,7.6
5,CZ,TOTAL,PC_ACT,F,NSA,2.7,2.8,2.3,2.0,2.1,2.2
6,DE,TOTAL,PC_ACT,F,NSA,4.5,4.5,4.2,3.5,2.9,2.7
7,DK,TOTAL,PC_ACT,F,NSA,6.3,5.7,5.2,4.9,5.4,5.0
8,EA,TOTAL,PC_ACT,F,NSA,8.2,8.1,7.8,7.6,7.9,8.1
9,EA18,TOTAL,PC_ACT,F,NSA,8.2,8.0,7.8,7.6,7.9,8.1
10,EA19,TOTAL,PC_ACT,F,NSA,8.2,8.1,7.8,7.6,7.9,8.1
11,EE,TOTAL,PC_ACT,F,NSA,,7.4,6.1,4.4,4.2,4.5
12,EL,TOTAL,PC_ACT,F,NSA,,,18.8,17.4,20.7,20.0
13,ES,TOTAL,PC_ACT,F,NSA,16.6,16.7,16.9,16.7,16.1,16.0
14,EU25,TOTAL,PC_ACT,F,NSA,,,,,,6.8
15,EU27_2007,TOTAL,PC_ACT,F,NSA,,,,,,6.7
16,EU27_2020,TOTAL,PC_ACT,F,NSA,7.5,7.2,7.0,6.8,7.0,7.2
17,EU28,TOTAL,PC_ACT,F,NSA,,,,,,6.7
18,FI,TOTAL,PC_ACT,F,NSA,8.3,10.3,7.5,6.6,6.2,6.9
19,FR,TOTAL,PC_ACT,F,NSA,7.6,8.0,8.6,7.9,8.2,8.6

In [94]:
selected_cols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2131 entries, 0 to 2130
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              2131 non-null   object
 1   AgeGroup             2131 non-null   object
 2   Unit                 2131 non-null   object
 3   Gender               2131 non-null   object
 4   Seasonal_Adjustment  2131 non-null   object
 5   2020M06              2131 non-null   object
 6   2020M05              2131 non-null   object
 7   2020M04              2131 non-null   object
 8   2020M03              2131 non-null   object
 9   2020M02              2131 non-null   object
 10  2020M01              2131 non-null   object
dtypes: object(11)
memory usage: 183.3+ KB

In [104]:

for x in range(5,11):
    new_df.iloc[:,x] = pd.to_numeric(new_df.iloc[:,x], errors="coerce")

new_df

,Country,AgeGroup,Unit,Gender,Seasonal_Adjustment,Jun_20,May_20,Apr_20,Mar_20,Feb_20,Jan_20
0,AT,TOTAL,PC_ACT,F,NSA,6.3,5.6,5.2,4.7,4.1,4.4
1,BE,TOTAL,PC_ACT,F,NSA,5.0,5.0,5.2,5.0,4.9,4.8
2,BG,TOTAL,PC_ACT,F,NSA,3.9,4.2,4.7,4.1,4.2,4.3
3,CH,TOTAL,PC_ACT,F,NSA,NaN,NaN,NaN,4.8,4.5,4.4
4,CY,TOTAL,PC_ACT,F,NSA,9.2,8.3,7.9,7.5,7.4,7.6
...,...,...,...,...,...,...,...,...,...,...,...
2126,SE,Y_LT25,THS_PER,T,TC,173.0,150.0,150.0,125.0,125.0,125.0
2127,SI,Y_LT25,THS_PER,T,TC,9.0,9.0,9.0,7.0,7.0,7.0
2128,SK,Y_LT25,THS_PER,T,TC,30.0,29.0,30.0,25.0,27.0,28.0
2129,TR,Y_LT25,THS_PER,T,TC,NaN,NaN,1122.0,1099.0,1123.0,1133.0
2130,UK,Y_LT25,THS_PER,T,TC,NaN,NaN,524.0,496.0,489.0,480.0

In [118]:
Final_df = (new_df.AgeGroup=="TOTAL") & (new_df.Gender="T")
Final_df

SyntaxError: invalid syntax (<ipython-input-118-214c9c9c69be>, line 1)

In [132]:
Total_df = new_df.loc[(new_df.AgeGroup == "TOTAL") & (new_df.Gender == "T") & (new_df.Unit == "PC_ACT") & (new_df.Seasonal_Adjustment == "NSA")]
Total_df

,Country,AgeGroup,Unit,Gender,Seasonal_Adjustment,Jun_20,May_20,Apr_20,Mar_20,Feb_20,Jan_20
80,AT,TOTAL,PC_ACT,T,NSA,6.2,6.0,5.2,4.9,4.9,4.3
81,BE,TOTAL,PC_ACT,T,NSA,5.3,5.3,5.3,5.1,5.1,5.1
82,BG,TOTAL,PC_ACT,T,NSA,4.2,4.6,5.1,4.4,4.6,4.8
83,CH,TOTAL,PC_ACT,T,NSA,NaN,NaN,NaN,4.7,4.4,4.4
84,CY,TOTAL,PC_ACT,T,NSA,9.0,8.5,8.1,7.5,7.2,7.3
85,CZ,TOTAL,PC_ACT,T,NSA,2.6,2.4,2.1,1.9,1.9,2.1
86,DE,TOTAL,PC_ACT,T,NSA,4.5,4.4,4.3,3.8,3.4,3.3
87,DK,TOTAL,PC_ACT,T,NSA,5.7,5.3,4.9,4.9,5.2,5.0
88,EA,TOTAL,PC_ACT,T,NSA,7.8,7.6,7.5,7.2,7.5,7.7
89,EA18,TOTAL,PC_ACT,T,NSA,7.7,7.6,7.5,7.2,7.6,7.7
90,EA19,TOTAL,PC_ACT,T,NSA,7.8,7.6,7.5,7.2,7.5,7.7
91,EE,TOTAL,PC_ACT,T,NSA,NaN,7.1,6.2,5.0,5.0,4.9
92,EL,TOTAL,PC_ACT,T,NSA,NaN,NaN,16.0,14.7,16.8,17.1
93,ES,TOTAL,PC_ACT,T,NSA,15.2,15.3,15.5,15.0,14.1,14.1
94,EU25,TOTAL,PC_ACT,T,NSA,NaN,NaN,NaN,NaN,NaN,6.6
95,EU27_2007,TOTAL,PC_ACT,T,NSA,NaN,NaN,NaN,NaN,NaN,6.4
96,EU27_2020,TOTAL,PC_ACT,T,NSA,7.0,6.9,6.8,6.5,6.8,6.9
97,EU28,TOTAL,PC_ACT,T,NSA,NaN,NaN,NaN,NaN,NaN,6.4
98,FI,TOTAL,PC_ACT,T,NSA,7.9,10.6,8.1,7.3,6.9,7.2
99,FR,TOTAL,PC_ACT,T,NSA,7.2,7.8,8.5,7.8,8.0,8.5
100,HR,TOTAL,PC_ACT,T,NSA,7.7,8.1,8.1,7.5,7.2,7.3
101,HU,TOTAL,PC_ACT,T,NSA,NaN,4.6,4.1,3.8,3.7,3.5
102,IE,TOTAL,PC_ACT,T,NSA,5.8,5.8,5.4,5.0,4.5,4.5
103,IS,TOTAL,PC_ACT,T,NSA,3.5,9.9,7.0,2.7,5.0,3.6
104,IT,TOTAL,PC_ACT,T,NSA,9.3,7.7,6.1,7.4,10.1,10.4
105,JP,TOTAL,PC_ACT,T,NSA,NaN,2.9,2.8,2.6,2.3,2.3
106,LT,TOTAL,PC_ACT,T,NSA,10.6,10.1,9.4,7.6,7.0,6.8
107,LU,TOTAL,PC_ACT,T,NSA,7.2,7.3,7.3,6.7,6.1,6.1
108,LV,TOTAL,PC_ACT,T,NSA,9.8,9.6,9.2,7.9,7.3,7.1
109,MT,TOTAL,PC_ACT,T,NSA,4.3,4.4,4.1,3.5,3.3,3.3
110,NL,TOTAL,PC_ACT,T,NSA,4.2,3.6,3.6,3.2,3.2,3.3
111,NO,TOTAL,PC_ACT,T,NSA,NaN,4.6,4.1,3.6,3.6,3.7
112,PL,TOTAL,PC_ACT,T,NSA,2.9,2.8,2.8,2.9,3.2,3.2
113,PT,TOTAL,PC_ACT,T,NSA,6.6,5.6,6.3,6.4,6.8,7.1
114,RO,TOTAL,PC_ACT,T,NSA,5.4,5.4,5.2,4.7,4.4,3.8
115,SE,TOTAL,PC_ACT,T,NSA,9.8,9.0,8.2,7.1,8.2,7.5
116,SI,TOTAL,PC_ACT,T,NSA,4.6,4.5,4.6,4.4,4.6,4.6
117,SK,TOTAL,PC_ACT,T,NSA,6.6,6.4,6.3,5.7,6.1,6.1
118,TR,TOTAL,PC_ACT,T,NSA,NaN,NaN,12.8,13.2,13.6,13.8
119,UK,TOTAL,PC_ACT,T,NSA,NaN,NaN,3.7,3.8,3.9,3.9
120,US,TOTAL,PC_ACT,T,NSA,11.2,13.0,14.4,4.5,3.8,4.0

In [63]:
#Connect to local database
from sqlalchemy import create_engine
rds_connection_string = "postgres:postgres@localhost:5432/ETL"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [64]:
engine.table_names()

['data_eu']

In [133]:
#Use pandas to load csv converted DataFrame into database¶
Total_df.to_sql(name='data_eu', con=engine, if_exists='append', index=False)